#projectCard {
    width: 70%;
    align-items: center;
    text-align: center !important;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    box-shadow: 0px 0px 40px 5px;
    border: 1px solid black;
}

.content {
    padding-top: 30px;
}

.listCardItems {
    margin: 30px;
    list-style: none;
}

.describe {
    font-weight: 600;
    padding: 30px;
}

#imageSize {
    width: 75%;
}

#imageSize:hover {
    transform: scale(1.5);
    transition: transform 1.00s ease-in-out;
}

@media screen and (max-width: 600px) {
    #projectCard {
        width: 90%;
    }
    #imageSize:hover {
        transform: scale(1.32);
        transition: transform 1.00s ease-in-out;
    }
    #imageSize {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}