#projectCard {
    width: 50%;
    align-items: center;
    text-align: center !important;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

.listCardItems {
    margin: 30px;
}

#imageSize {
    width: 85%;
}

#imageSize:hover {
    transform: scale(1.5);
    transition: transform 1.00s ease-in-out;
}