#githubLogo {
    width: 80px;
}

#linkedinLogo {
    width: 80px;
}

#instagramLogo {
    width: 80px;
}

#resumeLogo {
    width: 120px;
}

#logos a {
    margin: 100px;
}

#cardBodyDiv {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}