#cardBodyDiv {
    margin-top: 30px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.title-container {
    text-align: center;
}

.title-container h1 {
    font-size: 45px;
}

.my-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.line {
    width: 42.5%;
    height: 2px;
    background-color: black;
}

.prof {
    margin-bottom: 20px;
}

.full-line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.title-text {
    padding: 10px;
}

.title-container h3 {
    color: rgb(136, 136, 136);
    width: 380px;
}

.flex-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.my-info-container h4 {
    width: 200px;
}

.my-info-container p {
    width: 100%;
}

#logos {
    text-align: center;
}

#githubLogo {
    width: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#githubLogo:hover {
    transform: scale(1.3);
}

#linkedinLogo {
    width: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#linkedinLogo:hover {
    transform: scale(1.3);
}

#instagramLogo {
    width: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#instagramLogo:hover {
    transform: scale(1.3);
}

#resumeLogo {
    width: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#resumeLogo:hover {
    transform: scale(1.3);
}

#logos a {
    margin: 100px;
}

@media screen and (max-width: 800px) {
    #logos > a {
        display: block;
        margin-left: 80px;
        align-items: center;
    }

    #cardBodyDiv {
        width: 100%;
    }

    .flex-style {
        display: block;
    }

    #cardBodyDiv {
        text-align: center;
    }
    .my-info-container h4 {
        width: 100%;
    }
}