#navBar {
    padding: 10px;
    width: 100%;
    background-color: rgb(44, 44, 44);
}

#navBar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
    font-size: 25px;
    font-weight: 400;
}

#logo {
    width: 50px;
}

@media screen and (max-width: 600px) {
    #navBar li a {
        font-size: 12px;
    }
    #logo {
        width: 30px;
    }
}